/* DO NOT TOUCH THIS FILE */

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font: optional;
  color: #333;
}

body {
  padding: 60px;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.logo {
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #0085ff;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #333;
}

.links a:hover {
  color: #0085ff;
  text-decoration: underline;
}

/* ABOUT ME SECTION */

.aboutme img {
  height: 40px;
  width: 40px;
}

.aboutme h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.aboutme p {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.aboutme .tag {
  text-transform: uppercase;
  background-color: rgba(255, 122, 122, 1);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 10px;
  color: #aa0000;
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

/* comments section */

.comments h1 {
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.comment h2 {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}

.comment img {
  height: 24px;
  width: 24px;
}

.comment .date {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: rgb(143, 143, 143);
}

.comment p {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

/* main section */

main h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
}

main img {
  width: 60px;
  height: 96px;
}

main p {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

main button {
  background: #0085ff;
  border-radius: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  width: 100px;
  height: 40px;
  outline: none;
  border: 1px solid #0085ff;
  cursor: pointer;
}

main button:hover {
  background: #fff;
  color: #0085ff;
}

/* books section */

.books h1 {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.books img {
  width: 60px;
  height: 96px;
}

/* contact section */

.contact img {
  width: 40px;
  height: 40px;
}

.contact h1 {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

/* footer */

footer button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  cursor: pointer;
  outline: none;
}

footer .warning-button {
  background: #d60000;
  color: #ffffff;
  border: 1px solid #d60000;
}

footer .add-new-button {
  background: #00c74f;
  color: #ffffff;
  border: 1px solid #00c74f;
}

footer .share-button {
  background: none;
  color: #00c74f;
  border: 1px solid #00c74f;
}

footer .warning-button:hover {
  background: none;
  color: #e70000;
  border: 1px solid #e70000;
}

footer .add-new-button:hover {
  background: none;
  color: #00c74f;
  border: none;
}

footer .share-button:hover {
  background: none;
  color: #00c74f;
  border: none;
}
