/* THIS IS THE ONLY FILE YOU SHOULD CHANGE */

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 152px 140px auto 140px;
  grid-template-areas:
    "nav nav nav"
    "about main books"
    "comments main books"
    "comments footer contact";
  row-gap: 20px;
  column-gap: 20px;
}

nav {
  grid-area: nav;
}

.aboutme {
  grid-area: about;
  display: grid;
  grid-template-columns: 40px auto auto 60px;
  grid-template-rows: 40px auto;
  grid-template-areas:
    "img name . tag"
    "text text text text";
  padding: 20px;
}

.aboutme img {
  grid-area: img;
}

.aboutme h2 {
  grid-area: name;
  margin-left: 20px;
}
.aboutme .tag {
  grid-area: tag;
}

.aboutme p:last-child {
  grid-area: text;
}

.comments {
  grid-area: comments;
}

main {
  grid-area: main;
}

.books {
  grid-area: books;
}

.contact {
  grid-area: contact;
}
