/* THIS IS THE ONLY FILE YOU SHOULD CHANGE */

body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 152px 140px auto 140px;
  grid-template-areas:
    "nav nav nav"
    "about main books"
    "comments main books"
    "comments footer contact";
  row-gap: 20px;
  column-gap: 20px;
}

ul,
li {
  padding: 0;
  margin: 0;
}

body > nav {
  grid-area: nav;
  display: flex;
  padding: 0 120px 0 40px;
  align-items: center;
  justify-content: space-between;
}

body > nav > ul {
  display: flex;
}

body > nav > ul > li {
  min-width: max-content;
  margin-left: 30px;
}

.aboutme {
  grid-area: about;
  display: grid;
  grid-template-columns: 40px auto auto 60px;
  grid-template-rows: 40px auto;
  grid-template-areas:
    "img name . tag"
    "text text text text";
  padding: 20px;
}

.aboutme img {
  grid-area: img;
}

.aboutme h2 {
  grid-area: name;
  margin-left: 20px;
}
.aboutme .tag {
  grid-area: tag;
}

.aboutme p:last-child {
  grid-area: text;
}

.comments {
  grid-area: comments;
  padding: 30px 20px;
}

main {
  grid-area: main;
}

.books {
  grid-area: books;
}

.contact {
  grid-area: contact;
}

.comment {
  margin-bottom: 20px;
}

.comment > div {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.comments h1 {
  margin-bottom: 30px;
}

.comment > div > div {
  display: flex;
  gap: 10px;
}

main {
  padding: 20px;
}

main article {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

main article > div {
  display: flex;
  gap: 10px;
  max-width: 75%;
}

main article button {
  align-self: flex-end;
}

footer {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
}

.contact {
  padding: 25px 35px;
}

.contact h1 {
  margin-bottom: 20px;
}

.contact ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.books {
  padding: 40px;
}

.books h1 {
  margin-bottom: 30px;
}

.book-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
}
